#!/bin/sh

# SLURM aliases
alias sq='squeue -u $USER -l'
alias sqp='squeue -p $GROUP -l'
alias sc='scancel -u $USER'
alias sjob='scontrol show job'
alias snodes='scontrol show nodes'
alias spart='scontrol show partition'
alias si='sinfo -N -l'
alias sa='sacct -u $USER --format=JobID,JobName%20,Partition,State,Elapsed,MaxRSS,AllocCPUS,AllocTRES%32 -S now-7days'
